* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 80%;
    grid-template-rows: repeat(5, 1fr);
}

.header {
    grid-column: 2 / -1;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    padding-left: 23%;
}

    .sidebar h1 {
        margin-top: 20px;
    }

    .sidebar ul {
        list-style: none;
        font-size: 1.5rem;
    }
    
    .sidebar ul li {
        margin-bottom: 15px;
    }

    .list-one {
        grid-row: 2 / 5;
    }

    .list-two {
        grid-row: 5 / 6;
    }


.main-content {
    grid-column: 2 / -1;
    grid-row: 2 / 6;
}