:root {
    --main-color: #00BFFF;
    --background-color: #f3f4f6;
    --second-color: #FFD700;
    --bold-font: Roboto-bold;
    --regular-font: Roboto-regular;
    --light-font: Roboto-light;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 83%;
    grid-template-rows: repeat(5, 1fr);
}

.header {
    grid-column: 2 / -1;
    display: grid;
    margin-left: 24px;
    font-family: var(--regular-font);
}

    .header-top {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2rem 50% 1fr;
    }

        .header-top label:first-child {
            font-weight: bold;
            display: grid;
            align-items: center;
            grid-auto-flow: column;
        }

        .icon-search {
            height: 25px;
        }

        .input-head {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
        }

        .input-head input {
            height: 30px;
            border-radius: 15px;
            border-style: none;
            background-color: var(--background-color);
            font-size: 1.2rem;
            padding-left: 10px;
        }

        .header-top input:focus {
            outline: none;
            background-color: var(--main-color);
        }


        .active-user {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            gap: 20px;
        }

        .icon-user {
            height: 50px;
        }

        .icon-bell {
            height: 30px;
        }

        .header-top div:last-child {
            justify-self: end;
            margin-right: 30px;
            font-size: 1.5rem;
            font-weight: bold;
        }

    .header-bottom {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 55% 1fr;
    }

        .current-user {
            display: flex;
            align-items: center;
            gap: 3%;
        }

        .icon-current {
            height: 65px;
        }

        .user-name div:first-child {
            font-size: 0.9rem;
        }

        .user-name {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .header-buttons {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: 60px;
            gap: 8%;
        }

        .header-buttons button {
            font-size: 1rem;
            font-weight: bold;
            height: 2.5rem;
            width: 7rem;
            border-radius: 22px;
            border-style: none;
            color: white;
            background-color: var(--main-color);
        }

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    padding-left: 13%;
}

    .sidebar-header {
        font-size: 1.1rem;
        margin-top: 15px;
        grid-row: 1 / 2;
        font-family: var(--regular-font);
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .sidebar ul {
        list-style: none;
        font-size: 1.3rem;
    }
    
    .sidebar ul li {
        margin-bottom: 15px;
        font-family: var(--regular-font);
        display: flex;
        gap: 40px;
    }

    .list-one {
        grid-row: 3 / 6;
    }

    .list-two {
        grid-row: 8 / 9;
    }

    .icon-head {
        height: 40px;
    }

    .icons {
        fill: #FFFFFF;
        height: 23px;
    }

.main-content {
    position: relative;
    grid-column: 2 / -1;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 60px 25px 50px 20px;
    gap: 20px;
    background-color: var(--background-color);
    box-shadow: inset rgb(102 102 102 / 55%) 1px 1px 20px 0px;
}
    .project-title {
        position: absolute;
        top: 22px;
    }

    .projects {
        grid-row: span 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        column-gap: 20px;
        row-gap: 40px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        gap: 10px;
        background-color: white;
        border-left: 10px solid var(--second-color);
    }

    .card div:first-child {
        font-weight: bolder;
    }

    .card p {
        color: #374151;
    }

    .announc {
        position:relative;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .announc-title {
        position: absolute;
        top: -36px;
        font-weight: bold;
    }

    .announc-panel {
        background-color: white;
        border-radius: 10px;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .announc-card {
        padding: 15px;
    }

    .announc-card div {
        font-weight: bold;
    } 

    .announc-panel div:nth-child(2) {
        border-top: 2px solid var(--background-color);
        border-bottom: 2px solid var(--background-color);
        border-radius: 0;
    }

    .announc-card p {
        font-size: 0.9rem;
        color: #374151;
    }

    .trending-panel {
        position: relative;
        background-color: white;
        border-radius: 10px;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 25px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .trending-title {
        position: absolute;
        top: -35px;
        left: 0;
        font-weight: bold;
    }
    
    .trending-card {
        padding-left: 20px;
    }

    .trending-card div {
        font-weight: 550;
        margin-bottom: 5px;
    }

    .trending-card p {
        color: #374151;
    }

    /* Multiple styles on same elements */

    .card,
    .announc-panel,
    .trending-panel {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }